<ion-view title="Add Players" id="page3" style="background-color:#cccccc;">
    <ion-content padding="true" scroll="false" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Player 1</span>
                <input type="text" value={{users[0].uname}}>
            </label>
            <label class="item item-input">
                <span class="input-label">Player 2</span>
                <input type="text" placeholder="username" ng-model="users[1].uname">
            </label>
            <label class="item item-input">
                <span class="input-label">Player 3</span>
                <input type="text" placeholder="username" ng-model="users[2].uname">
            </label>
            <label class="item item-input">
                <span class="input-label">Player 4</span>
                <input type="text" placeholder="username" ng-model="users[3].uname">
            </label>
            <label class="item item-input">
                <span class="input-label">Player 5</span>
                <input type="text" placeholder="username" ng-model="users[4].uname">
            </label>
            <label class="item item-input">
                <span class="input-label">Player 6</span>
                <input type="text" placeholder="username" ng-model="users[5].uname">
            </label>
            <label class="item item-input">
                <span class="input-label">Player 7</span>
                <input type="text" placeholder="username" ng-model="users[6].uname">
            </label>
        </form>
        <a ui-sref="pending" id="addPlayers-button10" class="button button-positive  button-block">Invite Players</a>
        <a ui-sref="page1" id="results-button39" class="button button-positive  button-block">Home</a>
    </ion-content>
</ion-view>