<ion-view title="Game [Day]"  id="page11" style="background-color:#7EC0EE;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">You are a {{users[0].role}}. Select player to formal.</span>
            </label>
        </form>
        <a id="gameDay-button37" class="button button-positive  button-block">{{users[0].uname}}</a>
        <a id="gameDay-button27" class="button button-positive  button-block">{{users[1].uname}}</a>
        <a id="gameDay-button28" class="button button-positive  button-block">{{users[2].uname}}</a>
        <a id="gameDay-button29" class="button button-positive  button-block">{{users[3].uname}}</a>
        <a id="gameDay-button30" class="button button-positive  button-block">{{users[4].uname}}</a>
        <a id="gameDay-button31" class="button button-positive  button-block">{{users[5].uname}}</a>
        <a id="gameDay-button32" class="button button-positive  button-block">{{users[6].uname}}</a>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">console</span>
            </label>
        </form>
    </ion-content>
</ion-view>