<ion-view title="Game [Night]" id="page9" style="background-color:#0C0C2A;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">You are: ROLE</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <a ui-sref="gameDay" id="gameNight-button21" class="button button-positive  button-block">Player 1</a>
        <a ui-sref="gameDay" id="gameNight-button36" class="button button-positive  button-block">Player 2</a>
        <a ui-sref="gameDay" id="gameNight-button22" class="button button-positive  button-block">Player 3</a>
        <a ui-sref="gameDay" id="gameNight-button23" class="button button-positive  button-block">Player 4</a>
        <a ui-sref="gameDay" id="gameNight-button24" class="button button-positive  button-block">Player 5</a>
        <a ui-sref="gameDay" id="gameNight-button25" class="button button-positive  button-block">Player 6</a>
        <a ui-sref="gameDay" id="gameNight-button26" class="button button-positive  button-block">Player 7</a>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">console: output</span><textarea placeholder=""> </textarea>
            </label>
        </form>
    </ion-content>
</ion-view>