<ion-view title="Pending" id="page8" style="background-color:#cccccc;">
    <ion-content padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-checkbox>{{users.uname}}</ion-checkbox>
            <ion-checkbox>{{users.plyr2}}</ion-checkbox>
            <ion-checkbox>{{users.plyr3}}</ion-checkbox>
            <ion-checkbox>{{users.plyr4}}</ion-checkbox>
            <ion-checkbox>{{users.plyr5}}</ion-checkbox>
            <ion-checkbox>{{users.plyr6}}</ion-checkbox>
            <ion-checkbox>{{users.plyr7}}</ion-checkbox>
        </form>
        <a ui-sref="gameNight" id="pending-button20" class="button button-positive  button-block">Start</a>
    </ion-content>
</ion-view>