<ion-view title="Pending" id="page8" style="background-color:#cccccc;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ul class="list">
                <li class="item item-checkbox">
                    {{users[0].uname}}
                    <label class="checkbox">
                    <input type="checkbox" checked="true">
                    </label>
                </li>
                <li class="item item-checkbox">
                    {{users[1].uname}}
                    <label class="checkbox">
                    <input type="checkbox" checked="true">
                    </label>
                </li>
                <li class="item item-checkbox">
                    {{users[2].uname}}
                    <label class="checkbox">
                    <input type="checkbox" checked="true">
                    </label>
                </li>
                <li class="item item-checkbox">
                    {{users[3].uname}}
                    <label class="checkbox">
                    <input type="checkbox" checked="true">
                    </label>
                </li>
                <li class="item item-checkbox">
                    {{users[4].uname}}
                    <label class="checkbox">
                    <input type="checkbox" checked="true">
                    </label>
                </li>
                <li class="item item-checkbox">
                    {{users[5].uname}}
                    <label class="checkbox">
                    <input type="checkbox" checked="true">
                    </label>
                </li>
                <li class="item item-checkbox">
                    {{users[6].uname}}
                    <label class="checkbox">
                    <input type="checkbox" checked="true">
                    </label>
                </li>
            </ul>
        </form>
        <div style="text-align:center;">
            <img src="img/made-man-mafia.png" width="auto" height="70%">
        </div>
        <a ui-sref="gameNight" id="pending-button20" class="button button-positive  button-block" ng-click="Role()">Start</a>
    </ion-content>
</ion-view>