<ion-view title="Pending" id="page8" style="background-color:#cccccc;">
    <ion-content padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-checkbox>my account</ion-checkbox>
            <ion-checkbox>Player 2</ion-checkbox>
            <ion-checkbox>Player 3</ion-checkbox>
            <ion-checkbox>Player 4</ion-checkbox>
            <ion-checkbox>Player 5</ion-checkbox>
            <ion-checkbox>Player 6</ion-checkbox>
            <ion-checkbox>Player 7</ion-checkbox>
        </form>
        <a ui-sref="gameNight" id="pending-button20" class="button button-positive  button-block">Start</a>
    </ion-content>
</ion-view>