<ion-view title="" id="postvote" style="background-color:#cccccc;">
    <ion-content padding="true" scroll="false" class="has-header">
        <div style="text-align:center;">
        	<form class="list">
            	<label class="item item-input">
                	<span class="input-label">{{voted.vname}} was voted to {{voted.result}}.</span>
            	</label>
        	</form>
        	<br>
        	<form class="list">
	            <label class="item item-input">
	                <span class="input-label">{{users[0].uname}}: {{users[0].vote}}</span>
	            </label>
	            <label class="item item-input">
	                <span class="input-label">{{users[1].uname}}: {{users[1].vote}}</span>
	            </label>
	            <label class="item item-input">
	                <span class="input-label">{{users[2].uname}}: {{users[2].vote}}</span>
	            </label>
	            <label class="item item-input">
	                <span class="input-label">{{users[3].uname}}: {{users[3].vote}}</span>
	            </label>
	            <label class="item item-input">
	                <span class="input-label">{{users[4].uname}}: {{users[4].vote}}</span>
	            </label>
	            <label class="item item-input">
	                <span class="input-label">{{users[5].uname}}: {{users[5].vote}}</span>
	            </label>
	            <label class="item item-input">
	                <span class="input-label">{{users[6].uname}}: {{users[6].vote}}</span>
	            </label>
        	</form> 
        </div>
       
    </ion-content>
</ion-view>