<ion-view title="Rules" id="page12" style="background-color:#cccccc;">
    <ion-content padding="true" class="has-header">
        <div id="rules-markdown2" style="color:#000000;">
            <h2 style="text-align: center;">THE OBECTIVE</h2>
				<p style="text-align: center;">Each session of Mafia consists of seven Players. Each Player is randomly assigned a Role. Each session consists of two Mafioso, one Cop, one Medic, and three Vanilla. The Mafioso are on the Mafia team and the other Roles are all on the Town team. The Town team wins by killing all of the Mafia team. The Mafia team wins by having the same number of members alive as the Town team. This is because the Town team will never have enough votes to lynch members of the Mafia team.</p>
			<h2 style="text-align: center;">THE ROLES</h2>
				<p>MAFIOSO - Capable of killing one Town member per Night. The decision to kill off a certain Player must be a unanimous decision made by all surviving members of the Mafia team. Deciding to not kill a Player in a given Night is a valid and sometimes strategic decision.</p>
				<p>COP - Capable of checking one Player per Night. They are shown the Role of the Player they chose.&nbsp;</p>
				<p>MEDIC - Capable of saving one Player per Night. The Player they chose is immune to any Mafia attack that Night.&nbsp;</p>
				<p>VANILLA - Players who are Vanilla have no special ability at Night.&nbsp;</p>
			<h2 style="text-align: center;">THE GAME</h2>
				<p style="text-align: center;">The game cycles between Night and Day until one teams win condition is met. During Night, all alive Players are prompted to perform some action that is dependent on their Role given above. At Day Start, all Players are told who was killed by the Mafia that night (if anyone), and the results of their Role's action (if any). The Day Timer will be 15 minutes if five or more players are alive, and 10 minutes otherwise.&nbsp;</p>				
        </div>
        <br>
        <a ui-sref="page1" id="results-button39" class="button button-positive  button-block">Home</a>
    </ion-content>
</ion-view>