<ion-view title="Stats" id="page7">
    <ion-content padding="true" class="has-header">
        <h1 id="stats-heading3" style="color:#F51426;text-align:center;">M A F I A</h1>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Games Played: 132</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Games Won: 25</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Other Stats</span><textarea placeholder=""> </textarea>
            </label>
        </form>
    </ion-content>
</ion-view>