<ion-view title="Stats" id="page7" style="background-color:#cccccc;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Games Played: {{stats.games}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Games Won: {{stats.victories}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Games Won as Mafia: {{stats.mafiaWin}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Games Won as Town: {{stats.townWin}}</span>
            </label>
        </form>
        <a ui-sref="page1" id="results-button39" class="button button-positive  button-block">Home</a>
    </ion-content>
</ion-view>