<ion-view title="Vote" id="page10" style="background-color:#7EC0EE;">
    <ion-content padding="true" scroll="false" class="has-header">
        <body onload="voteForm.reset();">
            <form class="list" name="voteForm">
                <label class="item item-input">
                    <span class="input-label">Would you like to vote off {{voted.vname.uname}}?</span>
                </label>
                 <a id="vote-button33" class="button button-positive  button-block" ng-click="Vote(true)">Yes</a>
                 <a id="vote-button34" class="button button-positive  button-block" ng-click="Vote(false)">No</a>
            </form>         
        </body>
        <div ng-app='app.controllers'>
            <div ng-controller="voteCtrl">
            <h2 style="text-align: center;"><b>{{counter}}</b></h2>
            </div>
        </div>
    </ion-content>
</ion-view>